body {
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url("imagens/fundo6.jpg");
    background-size: cover;
    background-position: center;
    
}
h1{
    font-size: 50px;
    font-family: 'Billing-Lottre', Helvetica, sans-serif;
}
#h1titulo{
    font-size: 30px;
}
h2{
    font-size: 40px;
    font-family: 'Billing-Lottre', Helvetica, sans-serif;
    color: #0E1626;
    text-align: center;
}

header {
    background: #D98F4E;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav {
    margin: 0;
    padding: 0;
    background: #0E1626;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
}
footer {
    background-color: #0E1626; 
    padding: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: #fff;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
    box-sizing: border-box; 
}

.contact-info {
    display: flex;
    align-items: center;
}

.whatsapp-icon {
    height: 2em; 
    width: 2em; 
    margin-right: 10px; 
}


.signup-info {
    text-align: center; 
}


.signup-info nav p {
    margin-top: 10px; 
}
@font-face {
    font-family: 'Billing-Lottre';
    src: url('billing_lottre/Billing Lottre.ttf') format(truetype);  

}
#guia01{
font-family: 'Billing-Lottre', Arial, sans-serif;
font-size: 70px;
color: #E04A57;
}
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
#guia02{
    font-size: 20px;
    color: #ac353f;
    font-family: 'Kaushan Script', 'Roboto', 'Work Sans', Arial, sans-serif;
}
#lista01:hover{
color: rgb(55, 0, 255);
font-weight: bolder
 }
#lista02:hover{
color: rgb(55, 0, 255);
font-weight: bolder
 }

#lista03:hover{
font-weight: bolder
 }
.logorestaurantes{
    border-radius: 50%;
    width: 225px;
    height: 225px;    
}
.biorestaurantes{
    text-align: justify;    
}

a{
    text-decoration: none;
}
.biorestaurantes02{
    font-family: 'Billing-Lottre', Helvetica, sans-serif;
    color: #73392C;
    transition: transform 0.3s;
    font-size: 30px;
}
.biorestaurantes02:hover{
    color: #c93514;
    text-decoration: underline;
    transform: scale(1.01);
}
#pessoascomendo{
height: 380px;
display: block;
margin: 0 auto;
}
#bateufome{
text-align: center;
font-size: 70px;
color: #c93514;
}
#textocomun{
font-size: 30px;
text-align: center;
font-family: 'Billing-Lottre', Arial, sans-serif;
color: #c93514;
}
#logo{
height: 145px;
position: absolute;
left: 5%;
top: -2%;
max-width: 100%;

}
